html {
  min-height: 100%;
}

h1 {
  color: rgb(253, 251, 251);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}
p {
  color: whitesmoke;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}
h2 {
  color: rgb(253, 251, 251);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}
.aboutsection {
  overflow: hidden;
}
.aboutsection h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: -3rem;
  color: whitesmoke;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 70px;
}
.aboutsection a {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 27px;
}
.topnav {
  overflow: hidden;
}

.topnav a {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
.fa-sign-out {
  font-size: 3rem;
  color: whitesmoke;

  font-weight: bold;
  float: right;
  color: whitesmoke;
  text-align: right;
  text-align-last: right;

  text-decoration: none;
}
.fa-home {
  font-size: 3rem;
  color: whitesmoke;

  font-weight: bold;
  float: right;
  color: whitesmoke;
  text-align: center;
  text-align-last: center;

  text-decoration: none;
}

.fa-book {
  font-size: 3rem;
  color: whitesmoke;

  font-weight: bold;
  float: right;
  color: whitesmoke;
  text-align: right;
  text-align-last: right;

  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: 0;
  --tw-pan-y: 0;
  --tw-pinch-zoom: 0;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: 0;
  --tw-slashed-zero: 0;
  --tw-numeric-figure: 0;
  --tw-numeric-spacing: 0;
  --tw-numeric-fraction: 0;
  --tw-ring-inset: 0;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(1, 4, 10, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: 0;
  --tw-brightness: 0;
  --tw-contrast: 0;
  --tw-grayscale: 0;
  --tw-hue-rotate: 0;
  --tw-invert: 0;
  --tw-saturate: 0;
  --tw-sepia: 0;
  --tw-drop-shadow: 0;
  --tw-backdrop-blur: 0;
  --tw-backdrop-brightness: 0;
  --tw-backdrop-contrast: 0;
  --tw-backdrop-grayscale: 0;
  --tw-backdrop-hue-rotate: 0;
  --tw-backdrop-invert: 0;
  --tw-backdrop-opacity: 0;
  --tw-backdrop-saturate: 0;
  --tw-backdrop-sepia: 0;
}
body {
  background-color: black;
  background-image: linear-gradient(to bottom, darkblue, black);
  text-align: center;
}

body a {
  color: black;
  text-align: center;
}

.slider {
  width: 70%;
  height: 10px;
  background: rgb(5, 5, 75);
  border-radius: 15px;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: opacity 0.5s;
  margin-left: 40px;
  margin-top: 25px;
  margin-bottom: 20px;
  border-color: whitesmoke;
}

.slider:hover {
  opacity: 0.5;
}

.slider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background: darkblue;
  border-radius: 50%;
  cursor: pointer;
}

.wrapper {
  overflow: hidden;
  max-width: 390px;
  text-align: center;
  padding: 30px;
  margin-top: 10%;
  margin-left: 35%;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  border-color: whitesmoke;
  border-width: 1rem;
  color: whitesmoke;
}

.wrapper .title-text {
  display: flex;
  width: 200%;
  color: whitesmoke;
  border-color: red;
}
.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.slide-controls label.login {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
  display: none;
}
#signup:checked ~ .slider-tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login {
  color: whitesmoke;
}
#login:checked ~ label.signup {
  color: whitesmoke;
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus {
  border-color: green;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #f0eded;
}
.form-inner form .pass-link {
  margin-top: 5px;
}
.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.form-inner form .signup-link {
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: red;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, whitesmoke, blue, darkblue, black);
  border-radius: 5px;
  transition: all 0.4s ease;
}
form .btn:hover .btn-layer {
  left: 0;
}
form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  background-color: black;
  color: rgb(35, 11, 96);
  text-align: center;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
form .field input[type="submit"] {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  border-color: rgb(0, 0, 82);
}
